extends baseEmail
block content
    p Welcome to sub-c,
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Click here to update your password,
                    p if you didnt't forget your password ,please ignore this email
    p If you need any help  please don't hesitate to contact me!
    p - Rami sultana, CEO